<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MinimumCharge" value="20"  />
    <add key="ChargingColor" value="0,173,239"  />
    <add key="DrainingColor" value="0,130,100" />
    <add key="WarningColor" value="255,140,0"  />
    <add key="CriticalColor" value="204,0,0"  />
  </appSettings>
 </configuration>
